{% extends 'base.html.twig' %}



{% block body %}


    <h3>Template name: {{ template.name }}</h3>
    <hr>
    <br>
    {% set totalCalories = null %}
    {% set totalProtien = null %}
    {% set totalCarbs = null %}
    {% set totalFat = null %}

    {% for product in template.products %}
        <h3>{{ product.name }}, Value: {{ product.value }}, Calories: {{ product.calories }}, Protein: {{ product.protein }}, Carbs: {{ product.carbs }}, Fat: {{ product.fat }}</h3>
        <a class="btn btn-outline-danger" href={{ url( "product_delete", {"id": product.id} ) }}>Delete Product</a>
        <a class="btn btn-outline-dark" href={{ url( "product_edit", {"id": product.id} ) }}>Edit Product</a>
        <hr>
        {% set totalCalories = totalCalories + product.calories %}
        {% set totalProtien = totalProtien + product.protein %}
        {% set totalCarbs = totalCarbs + product.carbs %}
        {% set totalFat = totalFat + product.fat %}

    {% else %}
        <div class="container">
            <h3>Your template {{ template.name }} is empty. Add some products.</h3>
        </div>
    {%  endfor %}

    {% if totalCalories is not empty %}
        <div class="container>">
            <h5>Template Summary:</h5>
            <p> Total Calories: {{ totalCalories }}</p>
            <p> Total Protein: {{ totalProtien }} </p>
            <p> Total Carbs: {{ totalCarbs }} </p>
            <p> Total Fat: {{ totalFat }} </p>
        </div>
    {% endif %}



    <a class="btn btn-outline-primary float-left"  href="{{ url('template_index') }}">Back</a>
    <a class="btn btn-outline-dark float-left" href="{{ url('template_add_product', {"id": template.id}) }}">Add Product</a>

    <div class="dropdown" style="display: inline-block">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add User Product
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for product in userProducts %}
            <a class="dropdown-item" href="{{ url('template_addUserProduct', { "id": product.id, "template_id": template.id}) }}">{{ product.name }}</a>
                {% else %}
                No products added yet.
            {% endfor %}
        </div>
    </div>

    <div class="dropdown" style="display: inline-block">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add Meal
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for meal in userMeals %}
                <a class="dropdown-item" href="{{ url('template_add_meal', { "id": meal.id, "template_id": template.id}) }}">{{ meal.name }}</a>
            {% else %}
                No meals added yet.
            {% endfor %}
        </div>
    </div>

    <div class="clearfix"></div>


{% endblock %}
