{% extends 'base.html.twig' %}
{% block body %}
    <h3>Meal details: {{ meal.name }}</h3>
    <hr>
    <br>
    {% set totalCalories = null %}
    {% set totalProtien = null %}
    {% set totalCarbs = null %}
    {% set totalFat = null %}


    {% for product in meal.products %}
        <h3><a href={{ url( "product_edit", {"id": product.id} ) }}>{{ product.name }}</a></h3>
        <p> Value: {{ product.value }}, Calories: {{ product.totalCalories }}, Protein: {{ product.totalProtein }}, Carbs: {{ product.totalCarbs }}, Fat: {{ product.totalFat }}</p>
        <a class="btn btn-outline-danger" href={{ url( "product_delete", {"id": product.id} ) }}>Delete Product</a>
        <a class="btn btn-outline-dark" href={{ url( "product_edit", {"id": product.id} ) }}>Edit Product</a>
        <hr>
        {% set totalCalories = totalCalories + product.totalCalories %}
        {% set totalProtien = totalProtien + product.totalProtein %}
        {% set totalCarbs = totalCarbs + product.totalCarbs %}
        {% set totalFat = totalFat + product.totalFat %}

    {% else %}
        <div class="container">
            <p>Your meal {{ meal.name }} is empty. Add some products.</p>
        </div>
    {%  endfor %}

    {% if totalCalories is not empty %}
        <div class="container>">
            <p>Meal Summary: Calories: {{ totalCalories }}, Protein: {{ totalProtien }}, Carbs: {{ totalCarbs }}, Fat: {{ totalFat }}</p>
        </div>
    {% endif %}

    <a class="btn btn-outline-primary float-left" href="{{ url('meal_index') }}">Back</a>
    <a class="btn btn-outline-dark float-left" href="{{ url('meal_add_product', {"id": meal.id}) }}">Add Product</a>

    <div class="dropdown" style="display: inline-block">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add User Product
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for product in userProducts %}
                <a class="dropdown-item" href="{{ url('meal_addUserProduct', { "id": product.id, "meal_id": meal.id}) }}">{{ product.name }}</a>
            {% else %}
                no products
            {% endfor %}
        </div>
    </div>



    <div class="clearfix"></div>
{% endblock %}
