
    <li class="nav-item">
        <a class="nav-link" href="{{ url("product_index") }}">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url("product_add") }}">Add Product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url("template_index") }}">Templates</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url("template_create") }}">Create Template</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url("meal_index") }}">Meals</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url("meal_create") }}">Create Meal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url("fos_user_security_logout") }}">Logout</a>
    </li>

